<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <!--<img class="footer-logo" src="/portfolioFrontEnd/portfolio angular/PortfolioGeo/src/assets/images/proyecto 1.jpg 1.jpg" alt="Logo del Portfolio">-->
    <p class="footer-texto text-center"> Aprendo y creo todos los días. <br> ¡Creemos un proyecto juntos!</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-whatsapp"></i>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="mailto:georginagomiero@gmail.com" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
        </a>
    </div>
    <div class="derecho-autor">Creado por Georgina Gomiero (2022) &#169;
    </div>
</footer>

