<!--seccion hero-->
<section class="hero align-items-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
      <!--<img class="hero-foto-personal rounded-circle" src="images/geo.jfif" alt="Foto Geo">-->
      <h1>Hola, bienvenido. Soy Georgina Gomiero</h1>
      <h2>Técnica Superior en Comunicación Social y Desarrolladora Web</h2>
    </div>

    <div class="contenedor">
      <h2 class="seccion-titulo">¿Te cuento más?</h2>
      <p class="seccion-texto">Soy una persona altamente responsable y comprometida con mis deberes y obligaciones. Me gusta que la comunicación fluya en todos los ámbitos de mi vida y desde que inicié en el mundo de la programación no dejo de formarme en distintos lenguajes y temas afines para poder fusionar las dos profesiones que me motivan cada día para crecer.</p>
    </div>
  </section>
