<!--seccion experiencia-->
<section id="experiencia" class="experiencia seccion clara">
    <div class="container text-center">
      <div class="row">
        
        <!--col-12 significa que ocupara toda la pantalla pero cuando la pantalla sea menor a 770px la columna ocupará solo 4 espacios por eso se dice col-md-4-->

        <!--Comunicación Social-->
        <div class="columna col-12 col-md-3">
          <i class="bi bi-megaphone"></i>
          <p class="experiencia-titulo">Comunicación Social</p>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a suscipit lectus, et imperdiet erat. Nulla eu nunc vitae eros scelerisque consequat.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">Radio</span>
            <span class="badge text-bg-primary">Locución</span>
            <span class="badge text-bg-primary">TV</span>
            <span class="badge text-bg-primary">Diseño</span>
            <span class="badge text-bg-primary">Redacción</span>
            <span class="badge text-bg-primary">Marketing Digital</span>
          </div>
        </div>
        
        <!--Desarrollo Web-->
        <div class="columna col-12 col-md-3">
          <i class="bi bi-laptop"></i>
          <p class="experiencia-titulo">Desarrollo Web</p>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a suscipit lectus, et imperdiet erat. Nulla eu nunc vitae eros scelerisque consequat.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">HTML</span>
            <span class="badge text-bg-primary">CSS</span>
            <span class="badge text-bg-primary">JavaScript</span>
          </div>
        </div>
        
        <!--Programación-->
        <div class="columna col-12 col-md-3">
          <i class="bi bi-code-square"></i>
          <p class="experiencia-titulo">Programación</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a suscipit lectus, et imperdiet erat. Nulla eu nunc vitae eros scelerisque consequat.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">Python</span>
            <span class="badge text-bg-primary">Java</span>
          </div>
        </div>
      
        <div class="columna col-12 col-md-3">
          <i class="bi bi-database"></i>
          <p class="experiencia-titulo">Base de Datos</p>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a suscipit lectus, et imperdiet erat. Nulla eu nunc vitae eros scelerisque consequat.</p>
          <div class="badges-contenedor">
            <span class="badge text-bg-primary">SQLite</span>
            <span class="badge text-bg-primary">Access</span>
            <span class="badge text-bg-primary">MySQL</span>
          </div>
        </div>
      </div>
    </div>
  </section>
