/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Caveat';
}

/*Barra de navegación*/

.navbar{
    background-color: rgb(95, 149, 230);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2000;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.navbar-collapse .nav-link:hover{
    font-size: 25px;
}

/*estilos generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    font-family: 'Caveat', cursive;
    margin-top: 45px;
}

h2{
    font-size: 20px;
    font-family: 'Caveat', cursive;
    margin-top: 40px;
}

.seccion-oscura{
    background-color: #1b1b32;
    color: white;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 40px;
    font-family: 'Caveat', cursive;
}

.seccion-texto{
    font-size: 20px;
    margin-top: 25px;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}

/*seccion hero*/

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 10px;
    margin-top: 50px;
}

.hero-principal h2{
    font-size: 15px;
    color: #111111;
}

.hero-foto-personal{
width: 200px;
height: 200px; 
border-radius: 50%;
margin: 20px;
}

.contenedor{
    max-width: 800px;
    text-align: center;
    margin-left: 145px;
    margin-bottom: 15px;
}

/*Seccion experiencia*/
.experiencia{
    padding: 10px;
    margin-top: 25px;
    margin-bottom: -25px;
}

.columna{
    padding: 30px 20px;
}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7152c5;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.badge{
    margin: 5px;
}

/*proyectos*/
.proyectos{
   margin-bottom: 30px;
   margin-top: 10px;
}

.proyectos-contenedor{
    padding-bottom: 35px;
    margin-bottom: 90px;
    margin-top: 50px;
}

/*overlay es un contenido que se le agrega sobre la imagen */
.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 25px;
}

.proyecto p {
    font-size: 25px;
    margin-top: 25px;
}

.proyecto{
    position:relative;
    text-align: center;
    border-radius: 25px;
    width: 250px;
    height: 130px;
    border-style:dashed;
    border-color: rgb(13, 110, 253)
}

.proyecto:hover .overlay{
    opacity: 1;
    background-color: rgb(13, 110, 253);
}

.overlay .iconos-contenedor{
    display: flex;
    margin: 30px;
}

.overlay i {
    color: #0a0a23;
    font-size: 40px;
    margin: 25px;
}

/*boton ver mas de proyectos
.btn-info {
    font-size: 20px;
    margin: -15px;
    padding: 10px;
    margin-bottom: 75px;
}*/

/*seccion contacto*/

.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 40px;
    margin-top: 20px;
}

.contacto .rectangulo {
    margin-top: -10rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

/*Pie de pagina - Footer*/

footer{
    min-height: 300px;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-family: sans-serif;
    margin-top: -50px;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derecho-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*Responsive*/
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }   
}

@media screen and (max-width: 400px){
    .overlay p{
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}